<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frida Script Runner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" class="rel">
</head>

<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-4">Frida Script Runner</h1>
        </div>

        <form action="/run-frida" method="post">
            <div class="form-group">
                <label for="package">Select Package:</label>
                <input type="text" class="form-control" id="searchInput" oninput="filterOptions()"
                    placeholder="Search for packages..">
                <select name="package" id="packageSelect" class="form-control mt-2" required>
                    {% if identifiers %}
                    {% for identifier in identifiers %}
                    <option value="{{ identifier }}">{{ identifier }}</option>
                    {% endfor %}
                    {% else %}
                    <option disabled>No packages detected. Connect your USB device and run Frida.</option>
                    {% endif %}
                </select>
            </div>

            <div class="form-group">
                <label for="selected_script">Select Bypass Script:</label>
                <select name="selected_script" id="selectedScript" class="form-control" required
                    onchange="updateTextArea()">
                    <optgroup label="Your Android Script" data-directory="Script Directory 1">
                        {% for script in bypass_scripts_android %}
                        <option value="{{ script['file_name'] }}">{{ script['description'] }} - {{ script['file_name']
                            }}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Your iOS Script" data-directory="Script Directory 2">
                        {% for script in bypass_scripts_ios %}
                        <option value="{{ script['file_name'] }}">{{ script['description'] }} - {{ script['file_name']
                            }} </option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>

            <input type="hidden" name="use_custom_script" id="useCustomScript" value="0">

            <div class="form-group">
                <label for="script_content">Script Content:</label>
                <textarea name="script_content" id="scriptContent" class="form-control" rows="10" cols="50"
                    placeholder="Script Content"></textarea>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="customScriptCheckbox"
                    onchange="toggleCustomScript()">
                <label class="form-check-label" for="customScriptCheckbox">Use Custom Script</label>
            </div>

            <button type="button" id="runBtn" class="btn btn-primary">Run Frida</button>
            <button type="button" id="stopBtn" class="btn btn-danger">Stop Frida</button>
        </form>
        <div id="outputContainer"></div>
        <div id="outputFrida">
            <ul id="output-list"></ul>
        </div>

    </div>
</body>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</html>